<launch>
<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
<node name = "gps" pkg = "navigation" type = "gps.py"/> 
<node name = "compass" pkg = "navigation" type = "cmps14.py"/> 
<!-- <node name = "driveToPoint" pkg = "navigation" type = "driveToPoint.py" output="screen"/> -->
<node name = "navigation" pkg = "navigation" type="navigation.py" output="screen"/>
<node name = "lidarAnalysis" pkg = "navigation" type = "lidarAnalysis.py"/>
<include file="$(find vesc_driver)/launch/multi_vesc_driver_node.launch"/>
<include file="$(find rplidar_ros)/launch/rplidar.launch"/>
</launch>
